openapi: 3.1.0
info:
  title: Hotel Booking API
  version: 1.0.0
servers:
  - url: http://localhost:3000/api-docs
paths:
  /dummy: {} # dummy keys
  x-redoc-refs:
    - $ref: './paths/auth.yaml'
    - $ref: './paths/hotels.yaml'
    - $ref: './paths/rooms.yaml'
    - $ref: './paths/users.yaml'

components:
  schemas:
    $ref: './components/schemas/user.yaml'
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
