openapi: 3.1.0
info:
  title: Hotel Booking API
  description: Full hotel booking system
  version: 1.0.0

servers:
  - url: http://localhost:3000/api-docs

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  schemas:
    User:
      $ref: './components/schemas/User.yaml'
    Hotel:
      $ref: './components/schemas/Hotel.yaml'
    Room:
      $ref: './components/schemas/Room.yaml'
    Error:
      $ref: './components/schemas/Error.yaml'

  responses:
    OK:
      $ref: './components/responses/200.yaml'
    Created:
      $ref: './components/responses/201.yaml'
    BadRequest:
      $ref: './components/responses/400.yaml'
    Unauthorized:
      $ref: './components/responses/401.yaml'
    NotFound:
      $ref: './components/responses/404.yaml'

security:
  - bearerAuth: []

paths:
  /auth/signup:
    $ref: './components/paths/auth.yaml#/paths/signup'

  /auth/login:
    $ref: './components/paths/auth.yaml#/paths/login'

  /users/me:
    $ref: './components/paths/users.yaml#/paths/me'

  /users/admin/users:
    $ref: './components/paths/users.yaml#/paths/adminGetAll'

  /users/owner/hotels/{hotelId}/guests:
    $ref: './components/paths/users.yaml#/paths/ownerGetGuests'

  /hotels:
    $ref: './components/paths/hotels.yaml#/paths/create'

  /hotels/admin:
    $ref: './components/paths/hotels.yaml#/paths/adminAll'

  /hotels/owner:
    $ref: './components/paths/hotels.yaml#/paths/ownerAll'

  /hotels/{id}:
    $ref: './components/paths/hotels.yaml#/paths/byId'

  /hotels/{id}/owner:
    $ref: './components/paths/hotels.yaml#/paths/assignOwner'

  /rooms:
    $ref: './components/paths/rooms.yaml#/paths/search'

  /rooms/hotels/{hotelId}/rooms:
    $ref: './components/paths/rooms.yaml#/paths/create'

  /rooms/{id}:
    $ref: './components/paths/rooms.yaml#/paths/byId'
